.fon_one {
    background: url("img/mosaic.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    .blur {
  background: rgba(255, 255, 255, 0.2); // Make sure this color has an opacity of less than 1
  backdrop-filter: blur(8px); // This be the blur
  height: 100vh;
    width: 50%;
}
    

}

.fon_two {
    background: url("img/mosaic.jpg");
    background-size: contain;
    background-repeat: repeat;
}